body {
    margin: 0;
    padding: 0;
    background-image: url("../img/HOME.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100%;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

html {
    height: 100%;
}

h1,
p {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 100;
}

a:hover {
    color: #adadad;
}

li {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    list-style: none;
}


/* NAVIGATION */

.Nav {
    display: flex;
    justify-content: center;
    height: 100px;
    background: #323232;
}

.Nav_Link {
    color: #ffffff;
    word-spacing: 200px;
    padding: 40px;
}

.Btn_Logout {
    background: none;
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.Btn_Logout:hover {
    color: #adadad;
}


/* HOME */

.Home_Headline {
    font-size: 200px;
    color: #ffffff;
    text-align: center;
    padding: 120px;
    margin-bottom: 80px;
}


/* LOGIN */

.Login {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.Login_Container {
    background: orange;
    padding: 10px;
}


/* LOGIN */

.Login {
    margin: 0;
    padding: 0;
    background-image: url("../img/BACKGROUND_LoginSignUp.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-bottom: 70px; 
}

.Login_Container {
    background: rgba(32, 32, 32, 0.842);
    padding: 40px;
}

.Login_Form-Email,
.Login_Form-Password,
.Login_Form-Btn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #ffffff;
}

.Login_Form-Btn {
    margin-top: 30px;
}

.Login_Form-Btn-Link-SignUp {
    text-align: center;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
}

.Login_Form-Remember-label,
.Login_Form-Btn-Link {
    color: #ffffff;
}

.Login_Form-Btn-Link {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.Login_Form-Btn-Link:hover {
    color: #adadad;
}


/* FOOTER */

.Footer {
    background: #323232;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer_Contact {
    padding: 30px;
    margin-right: 220px;
}

.Footer_Contact-Headline {
    font-size: 17px;
    font-weight: 400;
}

.Footer_Contact-Paragraph {
    margin-top: 13px;
    font-size: 15px;
}

.Footer_Copy {
    padding: 30px;
}

.Footer_Copy-Headline {
    font-size: 70px;
}

.Footer_Copy-Paragraph {
    margin-top: 10px;
    font-size: 15px;
}

.Footer_Follow {
    padding: 30px;
    margin-left: 220px;
}